[
	{emysql, [
		{default_timeout, 1000},
        {lock_timeout, 30000},
		{pools, [
			{mysql_pool, [
				{size, 10},
				{user, "root"},
				{password, "1478520"},
				{host, "localhost"},
				{port, 3306},
				{database, "geo-app"},
				{encoding, 'utf8'}
			]}
		]}
	]},
    {geo_app, [

        {pools, [
            {redis_pool, [
                    {size, 10},
                    {max_overflow, 1},
                    {strategy, fifo},
                    {worker_module, eredis}
                ],
                [
                    {host, "127.0.0.1"}
                ]}
        ]}
    ]}
].




