%% Dependencies management
{deps, [
	{lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy", {branch, "master"}}},
	{emysql, {git, "git://github.com/Tremax/Emysql.git", {branch, "master"}}},
    {eredis, {git, "git://github.com/wooga/eredis.git", {branch, "master"}}},
    {poolboy, {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
	{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

%% Enable lager for logging
{erl_opts, [
    {parse_transform, lager_transform}
]}. 

{shell, [{config, "./app.config"}]}.

{relx, [{release, {geo_app, "0.0.1"}, [geo_app]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [ % override relx specifically
            {include_src, true}, % don't include source code
            {include_erts, false},  % include the VM in the release

            {dev_mode, false},

            {extended_start_script, true},
            {vm_args, "./config/vm.args"},
            {sys_config, "./config/sys.config"}
        ]}
]}]}.


{xref_warnings,false}.
{xref_extra_paths,[]}.
{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
%    exports_not_used,
    deprecated_function_calls,
    deprecated_functions]}.

